<div id="page-content">
<h3>This is showing article Details</h3>

<p style="margin-left:15px;"><strong>title:  </strong><%= @article.title %></p>
<p style="margin-left:15px;"><strong>description:  </strong> <%= @article.description %></p>