<html>
<head>
<style>
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}
p{
  color:black;
}
</style>
</head>
<body>
<div id="page-content">
<div class= "container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4" >Alpha Blog</h1>
    <p class="lead ">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-dark btn-lg" href="#" role="button" id="sign-up">Sign Up</a>
  </div>
  </div>
Hello world first ever!
<h1>This should be highlighted</h1>
<table>
<tr>
<td>name</td>
<td>surname</td>
<td>indore</td>
</tr>
<a href="http://localhost:3000/table">To Go to Table Page</a>
</table>
</div>
</body>
</html>